
   <nav class="sidebar" id="sidebar">
   BECOME
     <div id="sidebar2">
     <a href="#/mentor/signup">A  MENTOR</a>
     </div>
     <div id="sidebar3">
     <a href="#/mentee/signup">A  MENTEE</a>
     </div>
     <div id="sidebar4">
        <a href="#/login">LOGIN</a>
     </div>
   </nav>

  <div id="header" data-module="Header" style="background-image: url('http://i.imgur.com/OigMoZM.jpg')" >
        <div class="header-text">
          <div class="balance-text" style="white-space: normal; float: right; padding-right: 12px; display: block; position: static;">
            FOR FEMALES IN TECH<br>
            WHO WANT {PLACEHOLDER}
          </div><br><br>
        </div>
        <div class="readmore"></div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

  <br>
  </div>

  <div id="second">
  <br>
  <br>
  <br>
  <br>
  <br><center>
  We're matching women in tech<br>
  who want to achieve their<br>
  goals with women in their<br>
  community <u style="color:#B4D8E7">who can help</u>. <br>
</center>
<br>
<br>
<br>
<br>

  </div>
  <div id="third">
    <div id="third_img">
    <img src="http://i.imgur.com/iJ4ulw2.jpg?1">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>{FEMALE TECH STATS HERE} <br>
       is important in making <br>
    successful relationships.
   </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div id="fourth">
    <br><br><center>
    We want to make sure all women<br>
    from those starting out in tech<br>
    to those who have succeeded<br>
    in their own right can<br>
    <u style="color:#6c5b7b">find someone</u> to share<br>
    knowledge.
  </center>
    <br>
    <br>
  </div>
  <div id="fifth">
    <div id="fifth_img">
    <img src="http://i.imgur.com/G51xkhv.jpg">
  </div>
    <br><br><br><center>
    Not ready yet? <br>
    <br>
     <br>
    Sign up for our<br>
    newsletter and get<br>
    articles on mentorships, <br>
    female opps, and more!<br>
    <br>
    <br>
      <div class="col s12">
          <div class="input-field inline">
      <input id="newsletter" type="text"  width="50px">
      <label for="newsletter">Email</label>
    <input class="waves-effect waves-light btn" type="submit"><br>
  </div></div></center>
    <br>
    <br>

  </div>
